<%# Hidden element containing the stories data for React %>
<div id="stories-data" data-stories="<%= @stories.to_json %>"></div>

<%# React root element %>
<div id="react-root" class="bg-black text-zinc-200 font-sans antialiased">
  <%# React will render the content here %>
</div> 